
@{
    ViewBag.Title = "PageNotFound";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="row" style="border-bottom:1px solid;">
    <div class="col-sm-4" style="border-right:1px solid">
        <span style="font-size: 10em;">404</span>
    </div>
    <div class="col-sm-8" style="font-size: 2em;padding-top:55px;">
        UH-OH! The page you requested could not be found.
    </div>
</div>
<br />
<div class="col-sm-10">
    <center><b>Message: </b>@ViewBag.Message</center>
</div>

